* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #333;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
    margin: auto;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.clearButton {
    margin-top: 10px;
}

.time {
    text-align: center;
    padding: 50px;
    margin: auto;
}

.input {
    float: left;
    width: 30%;
}

.myIngredients {
    float: left;
    width: 70%;
}

button:hover {
    color: #000000;
    background-color: #ffaeae;
}

ol#ingredientList {
    list-style: none;
    padding: 0;
    width: 5cm; /* Set the fixed width */
}

li.ingredientList {
    display: grid;
    grid-template-columns: auto auto; /* Two columns: ingredient and button */
    gap: 10px; /* Adjust the gap to set spacing between them */
    align-items: center; /* Vertically center the content */
    margin: 5px 0;
}

.deleteButton {
    border: none;
    cursor: pointer;
    padding: 5px 10px; /* Fixed padding for button spacing */
    font-size: 14px; /* Fixed font size for an optically realistic size */
    width: 60px; /* Fixed width for the button */
    height: 30px; /* Fixed height for the button */
    margin-left: 1cm; /* Fixed margin to maintain 2cm distance from ingredient */
}

button#searchRecipes {
    color: #ffffff;
    background-color: #333;
}

button#searchRecipes:hover {
    color: #000000;
    background-color: #f0f0f0;    
}

.autocomplete {
    position: relative;
    display: inline-block;
}

#autocomplete-input {
    width: 300px;
    padding: 10px;
}

#autocomplete-list {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    width: 298px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
}

#autocomplete-list li {
    padding: 10px;
    cursor: pointer;
}

#autocomplete-list li:hover {
    background-color: #f0f0f0;
}

/* Stil für die Ladeleiste */
.loading-bar {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden; /* Verhindert Überlauf des Fortschrittsbalkens */
}

/* Stil für den Fortschrittsbalken */
.bar {
    width: 0%;
    height: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 30px; /* Zentriert den Text vertikal */
    transition: width 0.5s ease-in-out;
    position: relative;
}

/* Stil für den Fortschritt in Prozent */
.bar::after {
    content: attr(data-progress) "%";
    position: absolute;
    right: 10px; /* Platzieren Sie den Text rechts */
}

@media (max-width: 740px) {
    .input, .myIngredients {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
